@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
}
article {
  margin: 30px 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: rgb(49, 49, 49);
}
h4 {
  margin: 0;
}
p {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: rgb(49, 49, 49);
}
section.content {
  flex-basis: 50%;
  padding-right: 30px;
}
section.img {
  flex-basis: 20%;
  height: max-content;
}
.content.icon {
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.content.icon img {
  width: 79px;
  height: 79px;
}
